
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

:root {
  --bs-body-font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --text-black: #000000;
}

body {
  background-color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-black);
  position: relative;
  min-height: 100vh;
}


.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.form-container,
.image-container {
  padding: 2rem 3rem;
}

.form-wrapper {
  max-width: 380px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-black);
}


.form-wrapper h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0;
  color: var(--text-black);
  margin-bottom: 1rem;
}


.form-wrapper p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 2rem;
  color: var(--text-black);
}


.form-wrapper p a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-black);
  text-decoration: none;
}

.form-wrapper p a:hover {
  text-decoration: underline;
}


.form-control {
  border-radius: 0.25rem;
  border: 1px solid #6c757d;
  padding: 0.75rem 1rem;
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-black);
}

.form-control::placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-black);
}

.form-control:focus {
  box-shadow: none;
  border-color: #000000;
}


.form-check-label {
  padding-left: 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-black);
}


.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.15em;
  border: 2px solid #000000; 
  border-radius: 0.2rem;
  background-color: #ffffff;
  cursor: pointer;
}


.btn-dark-custom {
  background-color: #404040;
  border-color: #404040;
  padding: 0.75rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  border-radius: 0.25rem;
  text-align: center;
  color: var(--text-black);
}

.btn-dark-custom:hover {
  background-color: #333333;
  border-color: #333333;
  color: var(--text-black);
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--text-black);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3%;
  
  margin: 2rem 0;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}


.social-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #6c757d;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-black);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social-btn:hover {
  background-color: #f8f9fa;
  color: var(--text-black);
}


.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walking-person-img {
  max-width: 65%;
  height: auto;
}


@media (max-width: 767.98px) {
  .form-container {
    padding: 2rem 1rem;
  }

  .image-container {
    display: none;
  }
}
